<nav class="side-nav" id="side-nav">
  <div class="side-nav-user">
    <div class="side-nav-avatar"><img src="/images/avatar.jpg" alt=""></div>
    <p class="side-nav-username">Ash Lee</p>
    <p class="side-nav-username-sub"><i class="fa fa-transgender"></i> UI Developer @ PIC</p>
  </div>

  <ul>
    <li><span><i class="side-nav-icon fa fa-money"></i>Payslip <i class="side-nav-arrow fa fa-angle-right"></i></span></li>
    <li><span><i class="side-nav-icon fa fa-film"></i>Multimedia <i class="side-nav-arrow fa fa-angle-right"></i></span></li>
    <li>
      <span><i class="side-nav-icon fa fa-shopping-cart" style="font-size: 1.125em;"></i>Shop <i class="side-nav-arrow fa fa-angle-right"></i></span>
      <ul>
        <li><span>News</span> <span class="number">25</span></li>
        <li><span>Trends 2015</span></li>
        <li><span>People</span></li>
      </ul>
    </li>
    <li><span><i class="side-nav-icon fa fa-comment"></i>Social <i class="side-nav-arrow fa fa-angle-right"></i></span></li>
    <li><span><i class="side-nav-icon fa fa-user" style="font-size: 1.125em;"></i>Profile <i class="side-nav-arrow fa fa-angle-right"></i></span></li>
    <li><span><i class="side-nav-icon fa fa-cog" style="font-size: 1.125em;"></i>Settings <i class="side-nav-arrow fa fa-angle-right"></i></span></li>
    <li><span id="side-nav-sign-out"><i class="side-nav-icon fa fa-sign-out" style="font-size: 1.125em;"></i>Sign out <i class="side-nav-arrow fa fa-angle-right"></i></span></li>
  </ul>
</nav>

<div class="main">
  <header class="header">
    <h1>Intro</h1>
    <span class="header-btn header-btn-left" id="side-nav-toggle"><i class="fa fa-bars"></i></span>
    <span class="header-btn header-btn-right" id="header-nav-toggle"><i class="fa fa-ellipsis-v" style="text-align: center;"></i></span>

    <nav class="header-nav" id="header-nav">
      <ul>
        <li><i class="fa fa-heart"></i> Favourite</li>
        <li><i class="fa fa-heart"></i> Favourite</li>
        <li><i class="fa fa-heart"></i> Favourite</li>
        <li><i class="fa fa-heart"></i> Favourite</li>
        <li><i class="fa fa-heart"></i> Favourite</li>
        <li><i class="fa fa-heart"></i> Favourite</li>
      </ul>
    </nav>
  </header>

  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, laboriosam?</p>

    <p>Aspernatur cupiditate doloribus dolorum ducimus ea nemo sequi sint tempora.</p>

    <p>Aliquid delectus dicta eum nam officia omnis, reiciendis rem repellat.</p>

    <p>Accusantium aperiam doloremque ea inventore quam. Culpa incidunt porro voluptatem.</p>

    <p>Ab accusantium aliquid dicta doloremque neque odio officia, repellat voluptatem.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, laboriosam?</p>

    <p>Aspernatur cupiditate doloribus dolorum ducimus ea nemo sequi sint tempora.</p>

    <p>Aliquid delectus dicta eum nam officia omnis, reiciendis rem repellat.</p>

    <p>Accusantium aperiam doloremque ea inventore quam. Culpa incidunt porro voluptatem.</p>

    <p>Ab accusantium aliquid dicta doloremque neque odio officia, repellat voluptatem.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, laboriosam?</p>

    <p>Aspernatur cupiditate doloribus dolorum ducimus ea nemo sequi sint tempora.</p>

    <p>Aliquid delectus dicta eum nam officia omnis, reiciendis rem repellat.</p>

    <p>Accusantium aperiam doloremque ea inventore quam. Culpa incidunt porro voluptatem.</p>

    <p>Ab accusantium aliquid dicta doloremque neque odio officia, repellat voluptatem.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, laboriosam?</p>

    <p>Aspernatur cupiditate doloribus dolorum ducimus ea nemo sequi sint tempora.</p>

    <p>Aliquid delectus dicta eum nam officia omnis, reiciendis rem repellat.</p>

    <p>Accusantium aperiam doloremque ea inventore quam. Culpa incidunt porro voluptatem.</p>

    <p>Ab accusantium aliquid dicta doloremque neque odio officia, repellat voluptatem.</p>
  </div>
</div>

{{#section 'pageScript'}}
  <script>
    $(function () {
      var $html = $('html'),
          $headerNav = $('#header-nav');

      $('#side-nav-toggle').click(function () {
        $html.toggleClass('side-nav-open');
      });

      $headerNav.css({
        height: 'auto'
      }).data('height', $headerNav.height()).css({
        height: 0
      });

      $('#header-nav-toggle').click(function () {

        if ($headerNav.height()) {
          $headerNav.height(0);
        } else {
          $headerNav.height($headerNav.data('height'));
        }
      });

      $('body').click(function (e) {

        if (!$(e.target).closest('#header-nav-toggle').length) {
          $headerNav.height(0);
        }
      });

      $('.side-nav > ul > li > ul').each(function () {
        var $this = $(this);

        $this.show().data('height', $this.height()).height(0);
      });

      $('.side-nav > ul > li > span').click(function () {
        var $li = $(this).closest('li'),
            $child = $li.children('ul');

        if ($child.height()) {

          // Collapse
          $li.removeClass('active');
          $child.height(0);
        } else {

          // Expand
          $li.addClass('active').siblings().removeClass('active')
              .children('ul').height(0);
          $child.height($child.data('height'));
        }
      });

      $('#side-nav-sign-out').click(function () {
        location.href = '/sign-in';
      });
    });
  </script>
{{/section}}
