<div class="main">
  <header class="header">
    <h1>Title</h1>
    <span class="header-btn header-btn-left" id="side-nav-toggle"><i class="fa fa-bars"></i></span>
    <span class="header-btn header-btn-right"><i class="fa fa-ellipsis-v" style="text-align: center;"></i></span>
  </header>

  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, laboriosam?</p>

    <p>Aspernatur cupiditate doloribus dolorum ducimus ea nemo sequi sint tempora.</p>

    <p>Aliquid delectus dicta eum nam officia omnis, reiciendis rem repellat.</p>

    <p>Accusantium aperiam doloremque ea inventore quam. Culpa incidunt porro voluptatem.</p>

    <p>Ab accusantium aliquid dicta doloremque neque odio officia, repellat voluptatem.</p>
  </div>

  <nav class="side-nav" id="side-nav">
    <ul>
      <li><span><i class="side-nav-icon fa fa-money"></i>Payslip <i class="side-nav-arrow fa fa-angle-right"></i></span></li>
      <li><span><i class="side-nav-icon fa fa-film"></i>Multimedia <i class="side-nav-arrow fa fa-angle-right"></i></span></li>
      <li>
        <span><i class="side-nav-icon fa fa-shopping-cart" style="font-size: 1.125em;"></i>Shop <i class="side-nav-arrow fa fa-angle-right"></i></span>
        <ul>
          <li><span>News</span> <span class="number">25</span></li>
          <li><span>Trends 2015</span></li>
          <li><span>People</span></li>
        </ul>
      </li>
      <li><span><i class="side-nav-icon fa fa-comment"></i>Social <i class="side-nav-arrow fa fa-angle-right"></i></span></li>
      <li><span><i class="side-nav-icon fa fa-user" style="font-size: 1.125em;"></i>Profile <i class="side-nav-arrow fa fa-angle-right"></i></span></li>
      <li><span><i class="side-nav-icon fa fa-cog" style="font-size: 1.125em;"></i>Settings <i class="side-nav-arrow fa fa-angle-right"></i></span></li>
      <li><span><i class="side-nav-icon fa fa-sign-out" style="font-size: 1.125em;"></i>Sign out <i class="side-nav-arrow fa fa-angle-right"></i></span></li>
    </ul>
  </nav>
</div>

{{#section 'pageScript'}}
  <script>
    $(function () {
      var $html = $('html');

      $('#side-nav').height(document.documentElement.clientHeight);

      $('#side-nav-toggle').click(function () {
        $html.toggleClass('side-nav-open');
      });

      $('.side-nav > ul > li > i, .side-nav > ul > li > span').click(function () {
        var $li = $(this).closest('li');

        $li.addClass('active').siblings().removeClass('active')
            .children('ul').hide();
        $li.children('ul').show();
      });
    });
  </script>
{{/section}}
