<div class="container login">
  <header class="row login-header">
    <h1>Bathory</h1>
    <h2>Mobile framework</h2>
  </header>

  <form class="login-form">
    <div class="form-control">
      <div class="form-input-icon">
        <input type="email" class="input-transparent" placeholder="Email">
        <i class="fa fa-envelope"></i>
      </div>
    </div>
    <div class="form-control">
      <div class="form-input-icon">
        <input type="password" class="input-transparent" placeholder="Password">
        <i class="fa fa-lock"></i>
      </div>
    </div>
    <div class="login-forgot"><a href="#">Forgot password?</a></div>
    <div class="form-control">
      <button type="button" id="sign-in">SIGN IN</button>
    </div>
    <div class="login-sign-up">
      <p>Don't have an account?</p>
      <p><a href="/sign-up">SIGN UP</a></p>
    </div>
  </form>
</div>

{{#section 'pageScript'}}
  <script>
    $(function () {
      var $html = $('html');

      $html.addClass('full-screen');

      $('input').focus(function () {

        if (!$html.hasClass('login-focused')) {
          $html.addClass('login-focused');

          setTimeout(function () {
            $(window).scrollTop(0);
          }, 300);
        }
      }).blur(function () {
        $html.removeClass('login-focused');
      });

      $('#sign-in').click(function () {
        location.href = '/index';
      });
    });
  </script>
{{/section}}
