<div class="container login sign-in">
  <header class="row login-header">
    <h1>Bathory</h1>
    <h2>Mobile framework</h2>
  </header>

  <form class="login-form">
    <div class="form-control">
      <div class="form-input-icon">
        <input type="email" class="input-transparent" placeholder="Username">
        <i class="fa fa-user"></i>
      </div>
    </div>
    <div class="form-control">
      <div class="form-input-icon">
        <input type="email" class="input-transparent" placeholder="Email">
        <i class="fa fa-envelope"></i>
      </div>
    </div>
    <div class="form-control">
      <div class="form-input-icon">
        <input type="password" class="input-transparent" placeholder="Password">
        <i class="fa fa-lock"></i>
      </div>
    </div>
    <div class="form-control">
      <div class="form-input-icon">
        <label><input type="checkbox"> <a href="#">I accept the terms and conditions.</a></label>
      </div>
    </div>
    <div class="form-control">
      <button type="button">SIGN UP</button>
    </div>
    <div class="login-sign-up">
      <p>Already a member?</p>
      <p><a href="/sign-in">SIGN IN</a></p>
    </div>
  </form>
</div>

{{#section 'pageScript'}}
  <script>
    $(function () {
      var $html = $('html');

      $html.addClass('full-screen');

      $('input').focus(function () {
        $html.addClass('login-focused');

        setTimeout(function () {
          $(window).scrollTop(0);
        }, 300);
      }).blur(function () {
        $html.removeClass('login-focused');

        setTimeout(function () {
          $(window).scrollTop(0);
        }, 300);
      });
    });
  </script>
{{/section}}
