/**
 * Created by Ash.Zhang on 2015/5/8.
 */


.header {
  background: @color-theme-1;
  color: #fff;
  height: 2.5rem;
  position: relative;
  text-align: center;

  > h1 {
    line-height: 2.5rem;
    margin: 0;
  }
}

.header-btn {
  font-size: 1.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  position: absolute;
    top: 0;
  width: 2.5em;
}

.header-btn-left {
  left: @gap / 2;
  text-align: left;
}

.header-btn-right {
  right: @gap / 2;
  text-align: right;
}

.header-theme-2 {
  background: @color-theme-2;
}

.header-theme-3 {
  background: @color-theme-3;
}

.header-theme-4 {
  background: @color-theme-4;
}

.header-theme-5 {
  background: @color-theme-5;
}

.header-theme-6 {
  background: @color-theme-6;
}
