/**
 * Created by Ash.Zhang on 2015/5/8.
 */


.side-nav {
  background: @color-gray-darker;
  color: #fff;
  height: 100%;
  position: absolute;
    left: 0;
    top: 0;
  width: 80%;

  ul {
    margin: 0;
    overflow: hidden;
    .transition(all 0.3s ease-in-out);
  }

  li {
    border-top: @border-width solid @color-gray-dark;
    line-height: 3rem;

    span {
      display: block;
    }

    > :first-child {
      margin-left: @gap;
      margin-right: @gap;
    }
  }

  .side-nav-icon {
    margin-right: @gap;
    text-align: center;
    width: @gap;
  }

  .side-nav-arrow {
    float: right;
    line-height: 3rem;
    text-align: center;
    width: 1rem;
  }

  .number {
    display: inline-block;
    float: right;
    margin-right: @gap;
    margin-top: (3rem - 1.2rem) / 2;
  }

  // Level 1
  > ul {

    > li {
      position: relative;

      &.active {
        background-color: @color-gray-darkest;
        border-color: @color-gray-darker;

        &:before {
          background: @color-theme-1;
          content: ' ';
          position: absolute;
            bottom: 0;
            left: 0;
            top: 0;
          width: 3px;
        }
      }

      &:last-child {
        border-bottom: @border-width solid @color-gray-dark;
      }

      // Level 2
      > ul {
        display: none;

        > li {
          border-color: @color-gray-darker;

          > :first-child {
            margin-left: @gap * 3;
          }

          &.active {
            color: @color-theme-1;
          }
        }
      }
    }
  }
}


// User
// --------------------------

.side-nav-user {
  &:extend(.clearfix all);
  padding: @gap;
}

.side-nav-avatar {
  border: 3px solid @color-theme-1;
  border-radius: 50%;
  float: left;
  height: 4rem;
  margin-right: @gap * 2;
  overflow: hidden;
  width: 4rem;

  > img {
    height: 100%;
    width: 100%;
  }
}

.side-nav-username {
  font-size: 1.125rem;
  margin: @gap / 2 0 0;
}

.side-nav-username-sub {
  color: @color-gray;
  font-size: 0.875rem;
  margin: @gap / 2 0 0;
}


// Opened
// --------------------------

.side-nav-open {

  .main {
    .translateX(80%);
  }
}
